.relative {
    /*position: relative;*/
    /*left: 5px;*/
    /*right: 5px;*/
    /*border: 3px solid #73AD21;*/
    border-radius: 6px;
    width: 5%;
  }

  img {
    float: left;
  }

  body {
    padding: 0;
    margin: 0;
    /* bootstrap set the font-family & size to 1rem 
    & I'm not able to override them with my own css */
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    /* background: #f7f7f4; */
  }

  .navbar {
    background: #6ab446;
  }

  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }

  .nav-link {
    margin-right: 1em !important
  }

  .nav-link:hover {
    color: #000;
  }

  .navbar-collapse {
    justify-content: flex-end;
  }

  .button-space {
    position: relative;
    margin: 50px;  
    /* text-align: center;  */
  }

  .form-center {
    margin-left: 50px;
  }

  .heading {
    margin-top: 100px;
    margin-bottom: 80px;
  }

  .fab {
    /*padding: 20px;
    font-size: 30px;
    width: 15px; */
    /*padding: 10px;*/
    font-size: 30px;
    text-decoration: none;
  }

  .fab:hover {
    opacity: 0.7;
  }

  .footer-weight {
    font-weight: bold;
  }

  .para-size {
    font-size: 1.5em;
  }

  p.greeting {
    color: white;
  }

  /********************************************************/
  /*    MEDIA QUERIES TO CHANGE THE DEFAULT FONT          */
  /*      SIZES FOR 4 BREAKPOINTS IN BOOTSTRAP            */
  /********************************************************/

  @media (min-width: 230px) {  
    h2 {font-size:1rem;} 
  }

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  p {font-size:1.5rem;} /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  p {font-size:2rem;} 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  p {font-size:2.5rem;} /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  p {font-size:3rem;} /*1rem = 16px*/    
}



