{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script> -->
    <!--  -->

</head>

<body class="d-flex flex-column h-100 main-bg">

   <!-- Navigation -->
    <!--  This will appear on all pages -->

<nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><span class="brand">
            Sh<span class="red-o">o</span>ppingList<span class="thin">|Planner
            </span></span></span></a>

        <img class="relative" src="{% static 'images/shopping_list_image.jpg' %}"  alt="Shopping List Image">
        <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="main-navigation">  <!-- navbarText-->
            <ul class="navbar-nav">  <!--me-auto mb-2 mb-lg-0-->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
  
                {% if user.is_authenticated %}
                            
                {% if messages %}
                {% for message in messages %}
                <div id="msg" class="alert alert-info" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <p>Welcome {{ user.username }}!</p> 
                <hr>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                {% endif %}
            </ul>
            <span class="navbar-text text-muted">
                takes the stress out of shopping
            </span>
        </div>
    </div>
</nav>

<main class="flex-shrink-0 main-bg">
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
</main>

<!-- Footer -->
<footer class="footer mt-auto py-3 dark-bg">
    <p class="m-0 text-center text-white">Made by Christiana Temiola</p>
    <p class="m-0 text-center text-white">Follow us: <i class="fab fa-facebook-square ms-3"></i>
        <i class="fab fa-twitter-square ms-3"></i>
        <i class="fab fa-instagram-square ms-3"></i>
        <i class="fab fa-youtube-square ms-3"></i></p>
</footer>

<script>
    /* The alert we set up above earlier will not go away by itself once displayed so we'll use a 
    standard JavaScript setTimeout function to dismiss it. */
    setTimeout(function() {
        // Gets the ID of our messages div.
        let messages = document.getElementById("msg");
        /* This will assign a new Bootstrap alert to 'alert' variable & pass in the 'msg' ID 
        that we've just got. */
        let alert = new bootstrap.Alert(messages);
        /* This will close the alert after 3000 milliseconds (i.e 3 seconds)   */
        alert.close();
    }, 3000);
</script>

</body>

</html>
