{% extends 'shoppinglist/base.html' %}

{% block content %}

    <title>Edit Shopping List Item</title>

    {% if user.is_authenticated %}
        <h2 class="text-center heading">Edit an item in your shopping list:</h2>
        <form class="button-space text-center" method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn btn-primary button-space" type="submit">Update Item</button>
        </form>
        
    {% else %} <!-- If user is not authenticated -->
    <div class="container">
        <div class="row"> 
            <p class="heading">
                Sorry! You cannot edit items in the shopping list because you are not currently 
                logged in. Please <a href="{% url 'login' %}">log in</a> if you already have an account or 
                <a href="{% url 'register' %}">sign up</a> if you don't have one.
            </p>
        </div> 
    </div>    
    {% endif %} <!-- authentication end if -->

    <script>
        let qty = document.getElementById('id_quantity');
        //console.log("The Quantity is: ", qty);

        qty.addEventListener('change', function(event) {
            let newQty = parseInt(qty.value, 10);
            //console.log("The New Quantity is: ", newQty);

            let price = document.getElementById('id_unit_price');
            //console.log("The Price is: ", price);
            //console.log("The New Price is: ", price);
            let newPrice = parseFloat(price.value, 0.1);
            //console.log("The New Price is: ", newPrice);
            //let total = newQty * newPrice;

            let total = newQty * newPrice;
            //console.log("Total Price is: ", total);

            document.getElementById("id_total_price").value = total;
            let totalPrice = document.getElementById('id_total_price');
            //totalPriceInput.value = total;
            //console.log("The Total Price of your item is:", totalPrice);
        });
    </script>

{% endblock %}

    
        
            
        