{% extends 'shoppinglist/base.html' %}

{% block content %}

<title>Sign Up Page</title>

<h1 class="text-center heading">Sign Up</h1>

<div class="container"> 
    <div class="row"> 
        <form class="form-center col" method="POST">  
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-success btn-lg text-center button-space">Sign Up</button>
        </form>
    </div>
</div>
<p class="text-center">Already have an account? <a href="/login">Login</a> here</p>

{% endblock content %}



