{% extends 'shoppinglist/base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    
    <hr>
        <h2 class="headerspace text-center font-weight-bold">View items in your shopping list:</h2>
        <div class="table-responsive"> <!-- table-responsive class starts -->
            <table class="table">
                <tr class="size-sm">
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                    <th>Date Created</th>
                    <th>Date Updated</th>
                </tr>

                <tr class="size-sm">
                {% for shoppinglistitem in shoppinglistitems %}
                {% if shoppinglistitem.done_status %} 
                    <td><strike>{{ shoppinglistitem.item_name }}</strike></td> 
                    <td><strike>{{ shoppinglistitem.quantity }}</strike></td> 
                    <td><strike>{{ shoppinglistitem.unit_price }}</strike></td> 
                    <td><strike>{{ shoppinglistitem.total_price }}</strike></td> 
                    <td><strike>{{ shoppinglistitem.date_created }}</strike></td> 
                    <td><strike>{{ shoppinglistitem.date_updated }}</strike></td> 
                {% else %}
                    <td>{{ shoppinglistitem.item_name }}</td> 
                    <td>{{ shoppinglistitem.quantity }}</td> 
                    <td>{{ shoppinglistitem.unit_price }}</td> 
                    <td>{{ shoppinglistitem.total_price }}</td> 
                    <td>{{ shoppinglistitem.date_created }}</td> 
                    <td>{{ shoppinglistitem.date_updated }}</td> 
                {% endif %} 
                </tr>
                <tr> 
                    <!-- <div> -->
                        <td>
                            <a href="/edit/{{ shoppinglistitem.id }}" class="spacing">
                                <button class="size-sm btn btn-primary btn-md">Edit item</button>
                            </a>    
                        </td>
                    <!-- </div> -->
            
                    <!-- <div>   -->
                        <td>
                            <a href="{% url 'shoppinglistitem-delete' shoppinglistitem.id  %}" class="spacing">
                                <button class="size-sm btn btn-danger btn-md">Delete item</button>
                            </a>    
                        </td>
                    <!-- </div> -->
            
                    <!-- <div> -->
                        <td>
                            <a href="/bought/{{ shoppinglistitem.id }}" class="spacing">
                                <button class="size-sm btn btn-primary btn-md">Bought item</button>
                            </a>    
                        </td> 
                    <!-- </div> -->
                </tr>
                {% empty %}
                    <tr><td>Sorry!!! You currently have no items in your shopping list.</td></tr>
                {% endfor %}
            </table>
        </div> <!-- table-responsive class ends -->

    <div class="container">
        <div class="row">
            <div class="bttn-spacing col-sm-12 col-md-6 text-center"> 
                <a href="{% url 'add_item' %}"><button class="btn btn-primary btn-md">Add item</button></a>
            </div>
            <div class="bttn-spacing col-sm-12 col-md-6 text-center">
                <a href="{% url 'delete_list' %}"><button class="btn btn-danger btn-md">Delete List</button></a>
            </div>
        </div>  <!--row div ends-->
    </div>  <!--container div ends-->

    {% else %} <!-- If user is not authenticated -->
        <div class="container"> 
            <div class="row heading para-size"> 
                <p>
                    Welcome to the Shopping List Planner, a one-stop app that 
                    helps you manage your shopping and keeps you within checks so you don't 
                    overspend on your budget.  
                </p>
                <p>
                    Have you ever been in a situation where you just got home from your weekly 
                    shopping exhausted and desiring a rest but suddenly realised as you unpack 
                    your shopping that you missed out on essential items needed by the kids for 
                    school lunch or the whole family and you had to jet back to the store to get
                    them thereby wasting fuel, time and energy?
                </p>
                <p>
                    We've all been there but do not worry any more as this app is designed to take 
                    care of such situation and ensure you have a pleasurable time while shopping  
                    leaving you happy and fulfilled at the end. 
                </p>
                <p> 
                    Please <a href="/login"><strong>login</strong></a> if you already have an account or 
                    <a href="{% url 'register' %}"><strong>signup</strong></a> for a new account to enjoy the benefits 
                    this app has to offer.
                </p>
            </div>
        </div> 
    
    {% endif %} <!-- authentication end if -->

{% endblock %}


