{% extends 'shoppinglist/base.html' %}

{% block content %}

<title>Home Page</title>

    {% if user.is_authenticated %}
    <!-- <p>{{user}}</p> -->

    <!-- {% if messages %}
    {% for message in messages %}
    <div id="msg" class="alert alert-info" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
     -->
    <hr>
        <h2 class="text-center">View items in your shopping list:</h2>
        <!-- Welcome {{ user.username }}!  -->

<div class="container">
    <div class="row"> 
        <table class="table table-dark">
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
                <th>Date Created</th>
                <th>Date Updated</th>
            </tr> 
        {% for shoppinglistitem in shoppinglistitems %}
        <!-- This will render in a table format the values of the 'shoppinglistitems' keys created within our 'context' variable in views.py -->
            <tr>
                {% if shoppinglistitem.done_status %} 
                    <td><strike>{{ shoppinglistitem.item_name }}</strike></td> 
                    <td><strike>{{ shoppinglistitem.quantity }}</strike></td> 
                    <td><strike>{{ shoppinglistitem.unit_price }}</strike></td> 
                    <td><strike>{{ shoppinglistitem.total_price }}</strike></td> 
                    <td><strike>{{ shoppinglistitem.date_created }}</strike></td> 
                    <td><strike>{{ shoppinglistitem.date_updated }}</strike></td> 
                {% else %}
                    <td>{{ shoppinglistitem.item_name }}</td> 
                    <td>{{ shoppinglistitem.quantity }}</td> 
                    <td>{{ shoppinglistitem.unit_price }}</td> 
                    <td>{{ shoppinglistitem.total_price }}</td> 
                    <td>{{ shoppinglistitem.date_created }}</td> 
                    <td>{{ shoppinglistitem.date_updated }}</td> 
                {% endif %} 
                <td>
                    <a href="/edit/{{ shoppinglistitem.id }}">
                        <button class="btn btn-primary">Edit item</button>
                    </a>    
                </td>
                <td>
                    <a href="{% url 'shoppinglistitem-delete' shoppinglistitem.id  %}">
                        <button class="btn btn-danger">Delete item</button>
                    </a>    
                </td>
                <td>
                    <a href="/bought/{{ shoppinglistitem.id }}">
                        <button class="btn btn-primary">Bought item</button>
                    </a>    
                </td> 
            </tr>
        {% empty %}
        <tr><td>Sorry!!! You currently have no items in your shopping list.</td></tr>
        {% endfor %}
        </table>
    </div>
</div>
        <div class="text-center"> 
            <a href="{% url 'add_item' %}"><button class="btn btn-primary btn-lg button-space">Add an item</button></a>
            <a href="{% url 'delete_list' %}"><button class="btn btn-danger btn-lg button-space">Delete List</button></a>
        </div>

    {% else %} <!-- If user is not authenticated -->
    <div class="container"> 
        <div class="row heading"> 
            <p>
                Welcome to the Shopping List Planner, a one-stop app that 
                helps you manage your shopping and keeps you within checks so you don't 
                overspend on your budget.  
            </p>
            <p>
                Have you ever been in a situation where you just got home from your weekly 
                shopping exhausted and desiring a rest but suddenly realised as you unpack 
                your shopping that you missed out on essential items needed by the kids for 
                school lunch or the whole family and you had to jet back to the store to get
                them thereby wasting fuel, time and energy?
            </p>
            <p>
                We've all been there but do not worry any more as this app is designed to take 
                care of such situation and ensure you have a pleasurable time while shopping  
                leaving you happy and fulfilled at the end. 
            </p>
            <p> 
                Please <a href="/login">log in</a> if you already have an account or 
                <a href="{% url 'register' %}">sign up</a> for a new account to enjoy the benefits 
                this app has to offer.
            </p>
        </div>
    </div> 
    
    {% endif %} <!-- authentication end if -->

    <!-- <script>
        /* The alert we set up above earlier will not go away by itself once displayed so we'll use a 
        standard JavaScript setTimeout function to dismiss it. */
        setTimeout(function() {
            // Gets the ID of our messages div.
            let messages = document.getElementById("msg");
            /* This will assign a new Bootstrap alert to 'alert' variable & pass in the 'msg' ID 
            that we've just got. */
            let alert = new bootstrap.Alert(messages);
            /* This will close the alert after 3000 milliseconds (i.e 3 seconds)   */
            alert.close();
        }, 3000);
    </script> -->

{% endblock %}


